<div class="bg-theme p-5 w-100">
    <div class="container w-100">
        <h1 class="text-white"> {{categoryObject.category}} </h1>
        <app-top-anime *ngIf="categoryObject.category === 'Anime'"></app-top-anime>
        <p class="text-white mb-0 mt-5"> Here are posts of the selected category:</p>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let post of PostsArray">
            <app-post-card [postData]="post"></app-post-card>
        </div>
    </div>
</div>