<div class="card shadow-effect">
    <img src="https://i.pinimg.com/originals/b1/ae/df/b1aedf772c11d3016fe531a17893220e.gif" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views 420.69 </small>

        <h5 class="mt-1">HOW TO LOOP KILLERS FOR 4+ MINUTES</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, consequat nibh. Etiam non elit dui. Nullam vel erat
        </p>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - JUN 18, 2024</small>
    </div>
</div>